openapi: 3.0.3
info:
  title: Dokumen API Cloud Function GIS- OpenAPI 3.0
  description: >-
    Dokumentasi API Matakuliah GIS
  termsOfService: https://github.com/gis5larya
  contact:
    email: gilarwahibul@gmail.com
  license:
    name: Backend Package
    url: https://pkg.go.dev/github.com/GilarYa/backendgis4
  version: 1.0.11
externalDocs:
  description: Swagger
  url: https://gis5larya.github.io/
servers:
  - url: https://asia-southeast2-gilartest.cloudfunctions.net
tags:
  - name: auth
    description: Authentikasi
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://github.com/GilarYa/backendgis4
  - name: data
    description: Data Untuk akses GIS
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://github.com/GilarYa/backendgis4
paths:
  /logindata:
    post:
      tags:
        - auth
      summary: Login get Token
      description: Login and Get User Token
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '405':
          description: Invalid input
  /larcbgis4:
    post:
      tags:
        - data
      summary: Insert Data Geo
      description: Update data nama by volume geo
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsertData'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseInsert'
        '405':
          description: Invalid input          
      security:
        - token:
          - write:apiKey
          - read:apiKey

  /getdatayaw:
    get:
      tags:
        - data
      summary: Get Data Geojson
      description: Header auth 
      operationId: GetdataGeojson
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/responseData'
        '400':
          description: Invalid status value
      security:
        - token:
          - write:apiKey
          - read:apiKey
  /updatedata:
    put:
      tags:
        - data
      summary: Update Data Geo
      description: Update data nama by volume 
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bodycord'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseUpdate'
        '405':
          description: Invalid input          
      security:
        - token:
          - write:apiKey
          - read:apiKey

  /deletedata:
    delete:
      tags:
        - data
      summary: Delete Data Geo
      description: Delete Data Geo by nama
      operationId: DeleteData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReqData'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Data'
        '400':
          description: Invalid status value
      security:
        - token:
          - write:apiKey
          - read:apiKey
components:
  schemas:
    ResponseInsert:
      type: object
      properties:
        status:
          type: bool
          example: true
        message:
          type: string
          example: Berhasil Input Data
    ResponseUpdate:
      type: object
      properties:
        status:
          type: bool
          example: true
        message:
          type: string
          example: Berhasil Update Data
    Auth:
      type: object
      properties:
        username:
          type: string
          example: gilarya
        password:
          type: string
          example: hahaha
    InsertData:
      type: object
      properties:
        type:
          type: string
          example: Point
        name:
          type: string
          example: gilarya
        volume:
          type: string
          example: anjayyy
    bodycord:
      type: object
      properties:
        type:
          type: string
          example: Point
        name:
          type: string
          example:jalan wkwkwk
        volume:
          type: string
          example: anjayyy
    AuthResponse:
      type: object
      properties:
        status:
          type: bool
          example: true
        token:
          type: string
          example: anjayyy
        message:
          type: string
          example: Selamat Datang
    responseData:
      type: object
      properties:
        type:
          type: string
        geometry:
          type: object
          properties:
            type: 
              type: string
            coordinates: 
              type: array
        properties:
          type: object
          properties:
            name:
              type: string
    
    ReqData:
      type: object
      properties:
        type:
          type: string
          example: Point
        name:
          type: string
          example: jalan wkwkwk
        volume:
          type: string
          example: anjayyy

    Data:
      type: object
      properties:
        status:
          type: bool
          example: true
        message:
          type: string
          example: "Berhasil menghapus data. Jumlah data terhapus:"
  requestBodies:
    AuthReq:
      description: Request Authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Auth'
    DataArray:
      description: List of user object
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AuthResponse'
  securitySchemes:
    token:
      type: apiKey
      name: token
      in: header

      